<div id="top-bar">
	<a href="/"><img id="top-bar-icon" src="/img/title.png"></a>
    <h4 id="login-as">Logged in as:  <a href="/users/<%= current_user.id %>"><%= current_user.username %></a></h4>
	<a id="signoutbutton" href="/logout">Sign Out</a>
	<a id="home" href="/">Home</a>
</div>

<div id="edit-question-input-container">
	<h2>New title:</h2>
	<form method="POST" action="/question/<%= @question.id %>">
		<input id="question-title-input" type="text" name="question_title" value="<%= @question.title %>">
		<h2>New question:</h2>
		<textarea id="edit-question-content-input" rows="15" cols="50" name="question_description" wrap="soft"><%= @question.description %></textarea>
		<input class="buttoneffect" type="submit" name="Submit">
	</form>
</div>
